*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Freight big pro";
}

html, body {
    height: 100%;
    width: 100%;
    color: #000;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
}
#loader h1 {
    font-size: 6.9vw;
    color: #fff;
    line-height: 5.5vw;
    font-weight: 100;
    letter-spacing: -2px;
    position: relative;
    z-index: 9;
}

#loader video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 6;
}

#yellow1 {
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 8;
}
#yellow2 {
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 7;
}



#page1 {
    height: 100vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page1 h1 {
    font-size: 6.9vw;
    line-height: 5.5vw;
    font-weight: 100;
    letter-spacing: -2px;
    color: #000;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #000;
}
#page3 {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

/* img {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
} */