*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Freight big pro";
}

html, body {
    height: 100%;
    width: 100%;
    color: #000;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
    z-index: 99;
}
#loader h1 {
    font-size: 6.9vw;
    color: #fff;
    line-height: 5.5vw;
    font-weight: 100;
    letter-spacing: -2px;
    position: relative;
    z-index: 9;
}

#loader video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 6;
}

#yellow1 {
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 8;
}
#yellow2 {
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 7;
}

#nav{
    position: absolute;
    width: 100%;
    padding: 30px 50px;
    z-index: 10;
}


#page1 {
    height: 100vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page1 h1 {
    font-size: 6.9vw;
    line-height: 5.5vw;
    font-weight: 100;
    letter-spacing: -2px;
    color: #000;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all ease 0.3s;
    background-size:cover;
    background-position: start;
}

.elem{
    width: 100%;
    position: relative;
    cursor: pointer;
}

.elem .blur{
    position: absolute;
    width: 40%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right,  #f5e31bf0, #F5E41B, #f5e31bf6);
    box-shadow: 20px 0px 30px  #F5E41B, -80px 0px 40px  #F5E41B;
    height: 100%;
    z-index: 8;
}

.elem h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 5vw;
    /* transition: all ease 0.6s;
    font-style: normal; */
}

.elem .moving{
    background-color: #F5E41B;
    width: 100%;
    white-space: nowrap;
    padding: 10px 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -45%) scaleY(0);
    /* opacity: 0; */
    transition: all ease 0.5s;
    
}

.elem .moving .moving-in{
    display: inline-block;
    animation: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.elem .moving .moving-in h5{
    color: #000;
    display: inline-block;
    font-size: 18px;
    transition: all ease 0.3s;
    transition-delay: 0.2s;
    opacity: 0;
    font-family: gilory;
    text-transform: uppercase;
    margin-right: 35px;
    font-weight: 600;
}

@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.elem:hover .moving{
    /* opacity: 1; */
    transform: translate(0, -45%) scaleY(1);
}

.elem:hover .moving h5{
    opacity: 1;
}

.elem:hover h2{
    font-style: italic;
}







#page3 {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

