*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    background-color: #000;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 10.5vw;
    justify-content: space-between;
    height: 11vh;
    z-index: 10;
}
#navbar{
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
#navbar h4{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8vw;
    margin-bottom: 2.6vw;
}

.nav-elem h5{
    margin-bottom: 0.8vw;
    display: none;
    overflow: hidden;
}

.nav-elem h5 span{
    font-size: 0.7vw;
    font-weight: 400;
    display: inline-block;
    transform: translateY(25px);
}

nav button{
    background-color: #0BA34E;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: 0.85vw;
    font-weight: 700;
    text-transform: uppercase;
}

#nav-bottom{
    width: 80%;
    height: 0vh;
    position: absolute;
    background-color: #000;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #fff;
}

/* Page 1 style */

#page1{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 10vw;
    font-weight: 900;
    line-height: 15vh;
}

#page1 p{
    font-size: 1.2vw;
    width: 50%;
    margin-top: 3vh;
    font-weight: 400;
    text-align: center;
}
#page1 #works{
    display: flex;
    align-items: center;
    justify-content: center;
}
#works h4{
    font-family: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: 1px solid #a5a5a550;
    margin-top: 0.6rem;
}

#page1 #works h4:nth-last-child(2){
    border: none;
}

#moving-div{
    /* background-color: red; */
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 44%;
    white-space: nowrap;
    padding: 2vw;
    overflow: hidden;
}
#moving-div .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img{
    height: 1.3vw;
    margin: 0 1.2vw;
}

@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#blur-left{
    height: 100%;
    width: 20%;
    position: absolute;
    background: linear-gradient(to right, #000,  transparent);
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right{
    height: 100%;
    width: 20%;
    position: absolute;
    background: linear-gradient(to right, transparent, #000);
    top: 0;
    right: 0;
    z-index: 2;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
    padding: 2vw 10.5vw;
    display: flex;
    align-items: center;
    border-top: 0.5px solid #fff;
    justify-content: space-between;
}
