*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    background-color: #000;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 10.5vw;
    justify-content: space-between;
    height: 11vh;
    z-index: 10;
}
#navbar{
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
#navbar h4{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8vw;
    margin-bottom: 2.6vw;
}

.nav-elem h5{
    margin-bottom: 0.8vw;
    display: none;
    overflow: hidden;
}

.nav-elem h5 span{
    font-size: 0.7vw;
    font-weight: 400;
    display: inline-block;
    transform: translateY(25px);
}

nav button{
    background-color: #0BA34E;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: 0.85vw;
    font-weight: 700;
    text-transform: uppercase;
}

#nav-bottom{
    width: 80%;
    height: 0vh;
    position: absolute;
    background-color: #000;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #fff;
}

/* Page 1 style */

#page1{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 10vw;
    font-weight: 900;
    line-height: 15vh;
}

#page1 p{
    font-size: 1.2vw;
    width: 50%;
    margin-top: 3vh;
    font-weight: 400;
    text-align: center;
}
#page1 #works{
    display: flex;
    align-items: center;
    justify-content: center;
}
#works h4{
    font-family: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: 1px solid #a5a5a550;
    margin-top: 0.6rem;
}

#page1 #works h4:nth-last-child(2){
    border: none;
}

#moving-div{
    /* background-color: red; */
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 44%;
    white-space: nowrap;
    padding: 2vw;
    overflow: hidden;
}
#moving-div .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img{
    height: 1.3vw;
    margin: 0 1.2vw;
}

@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#blur-left{
    height: 100%;
    width: 20%;
    position: absolute;
    background: linear-gradient(to right, #000,  transparent);
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right{
    height: 100%;
    width: 20%;
    position: absolute;
    background: linear-gradient(to right, transparent, #000);
    top: 0;
    right: 0;
    z-index: 2;
}


/* Page 2 style */

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between;
}

#page2-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

#page2-left p {
    font-size: 0.8vw;
}

#page2-left h5 {
    width: 75%;
    font-weight: 400;
    font-size: 1.1vw;
}


#page2-right {
    height: 100%;
    width: 50%;
}

.right-elem {
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    scale: 0;
}



/* page 3 style */
#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-center {
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 1vw;
    flex-direction: column;
}

.page3-center .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    background-color: #fff;
}

.page3-center .icon i {
    color: #000;
    font-size: 2.8vw;

}

.page3-center h5 {
    font-size: 0.8vw;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    padding: 12px 26px 10px 26px;
    margin-top: 0.5vw;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(16%);
    text-transform: uppercase;
}

.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);
}

#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 99999;

}

#page4 {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    color: #000;
    position: relative;
    padding: 8vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between;
}

#page4-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
#page4-left h1 {
    font-size: 3vw;
    color: #000;
    font-weight: bolder;
}

#page4-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.elem{
    position: relative;
    padding-top: 2vw;
    border-top: 1px solid #918f8f;
}

.elem p{
    color: #000;
    font-size: 1.5vw;
    font-weight: 500;
}

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #fff; 
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 5vw 10.5vw; 
    box-sizing: border-box;
    border-top: 1px solid #333;
}

#page5 .box{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1.2vw;
    padding: 4vw 2vw;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 0 calc(33.333% - 2vw); /* three columns on wide screens */
    min-height: 30vh;
    background: #f5f5f5; 
    border-radius: 6px;
    overflow: hidden;
}


#page5 .box h1{
    font-size: 3.5vw;
    line-height: 1;
    margin: 0;
    color: #000;
    font-weight: 700;
}

#page5 .box h4{
    margin: 1vw 0 0 0;
    font-size: 0.95vw;
    color: #222;
    font-weight: 400;
}

#page5 .box h6{
    position: absolute;
    left: 2.2vw;
    bottom: 1.6vw;
    margin: 0;
    font-size: 0.9vw;
    color: rgba(0,0,0,0.15);
}

#page6{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    border-top: 1px solid black;
    padding-bottom: 2vw;
}
.sec{
    width: 100%;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vw 10.5vw;
    padding-bottom: 0;
}

.sec-left{
    height: 100%;
    width: 30%;
    border-top: 3px solid black;
    padding-top: 1vw;
}

.sec-left h1{
    color: #000;
    font-size: 3vw;
    font-weight: 500;
}

.sec-left p{
    color: #000;
    font-size: 1.2vw;
    margin-top: 10vh;
    width: 80%;
}

.sec-right{
    height: 100%;
    width: 65%;
    position: relative;
}

.sec-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease 0.2s;
}

#sec-right{
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
}


.description{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 2vw 0;
}

.description h1{
    font-size: 2vw;
    color: #000;
}

.description p{
    font-size: 1.1vw;
    color: #000;
}

.video-img{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    height: 50vh; 
}

.video-img img{
    width: 100%;
    height: 60%; 
    object-fit: cover; 
    transition: height 450ms cubic-bezier(.2,.8,.2,1), transform 450ms ease;
}

.video-img:hover img{
    height: 100%; 
    transform: scale(1.02);
}


.page7{
    margin-top: 5vw;
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6vw 10.5vw; 
    box-sizing: border-box;
}

.page7 button{
    background-color: #0BA34E;
    padding: 1vw 2.5vw;
    font-size: 1.2vw;
    border-radius: 50px;
    text-transform: uppercase;
    position: sticky;
    top: 10%;
}

#page7-right{
    width: 70%;
}

#page7-right>p{
    font-size: 2.5vw;
    line-height: 1.2;
}

#page7-content{
    width: 100%;
    margin-top: 10vh;
    padding: 3vh 0;
}
#page7-content>h1{
    font-size: 3.2vw;
    font-weight: 800;
    text-transform: uppercase;
}

#page7-content #flex{
    display: flex;
    margin: 4vh 0;
    gap: 0.3vw;
}

#page7-content #flex h4{
    border-radius: 50px;
    border: 0.5px solid #fff;
    padding: 0.5em 1em;
    font-weight: 500;
    font-size: 0.9vw;
    text-transform: uppercase;
}

.page7-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom: 8vh;
    /* background-color: #0BA34E; */
    position: relative;
    overflow: hidden;
    border-top: 1px solid #333;
}
.page7-elem p{
    width: 60%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
     transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page7-elem h3{
    font-size: 1.5vw;
    font-weight: 500;
     position: relative;
    z-index: 8;
     transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page7-elem i{
    font-size: 1.3vw;
     position: relative;
    z-index: 8;
     transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.over7{
    height: 100%;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page7-elem:hover h3{
    padding-left: 1vw;
}

.page7-elem:hover i{
    padding-right: 1vh;
}


.page7-elem:hover .over7{
    opacity: 1;
    transform: translateY(0);
}

.page7-elem:hover{
    border-top: 1px solid #fff;
}

summary::marker {
    content: "";
}

.uiux{
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.product{
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.heading-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-icon i{
    font-size: 1.5vw;
}