@font-face {
    font-family: helvetical;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM\ \(1\).woff2);
}

:root{
    --gray: #272727;
    --green: #009660;
    --white: #e9e9e9;
    --back: #0c0c0c;
    --lgray: #929292;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--back);
}

.green{
    color: var(--green);
}
.gray{
    color: var(--lgray);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    position: fixed;
    width: 100%;
}

.nav1{
    display: flex;
    align-items: end;
    gap: 20px;
}

.nav1 img{
    height: 45px;
    width: 40px;
}

.nav1 h4{
    font-family: monospace;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 100;
}

.nav2{
    display: flex;
    gap: 60px;
    align-items: center;
}
.nav2 h4{
    font-size: 16px;
    font-weight: 100;
    font-family: helvetical;
}
.nav2 h4 i{
    font-size: 20px;
}
.nav3{
    display: none;
    gap: 30px;
    align-items: center;
}
.nav3 h4{
    font-size: 16px;
    font-weight: 100;
    font-family: helvetical;
}

@media (max-width:600px) {
    nav{
        padding: 10px 25px;
    }

    .nav1 h4{
        font-size: 16px;
    }

    .nav1 img{
        height: 35px;
        width: 30px;
    }
    .nav2{
        display: none;
    }
    .nav3{
        display: flex;
    }
}

main{
    padding-top: 100px;
}

.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 60px;
}

.section1 .left{
    width: 42%;
}
.section1 .left h1{
    font-size: 48px;
}

.section1 .left .tags{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 5px;
    white-space: nowrap;
    flex-wrap: wrap;
    margin: 30px;
}

.left .price{
    font-size: 35px;
}
.left .price .gray{
    font-size: 25px;
    text-decoration: line-through;
    margin-left: 10px;
}

.section1 .left .tags h4{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--gray);
}

.section1 .left .cta{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 15px 0;
    flex-wrap: wrap;
}
.cta button{
    background-color: var(--green);
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    font-size: 40px;
}

.cta button:nth-child(2){
    background-color: var(--gray);
    
}

h5, h6{
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
}

/* .section1 .right{
    width:50%;
} */

.section1 .right .right-in{
    width: 600px;
    /* width: 100%; */
    border-radius: 5px;
    overflow: hidden;
}

.section1 .right .right-in .image{
    width: 100%;
}

.section1 .right .right-in .image img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.section1 .right .right-in .image-bottom{
    background-color: var(--gray);
    padding: 20px;
    padding-top: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-in .image-bottom h4{
    background-color: #151515;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    width: 45%;
    font-weight: 600;
}

@media (max-width: 1400px) {
    .section1 .left h1{
    font-size: 3.5vw;
    }
}

@media (max-width: 800px) {
    
    .section1{
        flex-direction: column-reverse;
        /* gap: 30px; */
        padding: 15px 5vw;
    }

    .section1 .left{
        width: 100%;
        margin-top: 30px;
    }
    .section1 .left h1{
    font-size: 30px;
    }

    .section1 .right .right-in{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    }

    .section1 .right .right-in .image{
    width: 100%;
    height: 60vw;
    }

    .section1 .right .right-in .image-bottom{
    background-color: var(--gray);
    padding: 10px;
    padding-top: 20px;
    gap: 8px;
    }

    .right-in .image-bottom h4{
    background-color: #151515;
    padding: 10px 15px;
    font-size: 15px;
    }

    .section1 .left .tags{
    gap: 10px;
    margin: 8px 5px;
    margin: 20px;
    }

    .left .price{
    font-size: 18px;
    }
    .left .price .gray{
        font-size: 10px;
        margin-left: 8px;
    }

    .section1 .left .cta{
        flex-wrap: nowrap;
    }
    .cta button{
        font-size: 20px;
    }
    h5, h6{
        font-size: 14px;
    }

    .section1 .left .tags h4{
        padding: 5px 10px;
        font-size: 2.5vw;
    }



}

@media (max-width: 600px) {
    .section1 .left h1{
    font-size: 6vw;
    }
}

.section2{
    padding: 100px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section2 h1{
    font-size: 8rem;
    margin-bottom: 15px;
    background-image: url(https://i.pinimg.com/736x/6b/2c/87/6b2c87bc20b902cb84c0a094a2f86411.jpg);
    background-size: cover;
    background-clip: text;
    color: transparent;
    position: relative;
}

.section2 h1.bloom{
    position: absolute;
    filter: blur(90px);
}

.section2 h3{
    font-size: 2rem;
    font-weight: 100;
    color: var(--lgray);
}

@media (max-width:1000px) {
    .section2 h1{
    font-size: 15vw;
}
}

@media (max-width:700px) {
    .section2 h1{
    font-size: 10vw;
    }
    .section2 h3{
    font-size: 3.5vw;
    }
}